body {
    margin: 0;
    text-align: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw; 
    max-width: 600px;
    background: rgba(27, 36, 74, 1);
    text-align: center;
    margin: auto;
    vertical-align: auto;
    border: rgba(154, 171, 216, 1) solid 5px; 
    border-radius: 15px;                 
}

.titles{
    color: whitesmoke;
    font-size: 40px;
    margin-bottom: 5px;
}

.score{
    background: black;
    width: 155px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border-radius: 10px; 
    margin-top: 0px;
    margin-bottom: 20px;
    
}

button{
    font-size: 15px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: rgba(27, 36, 74, 1);
    color: rgba(154, 171, 216, 1);
    border: rgba(154, 171, 216, 1) solid 1px;
    padding: 13px 12px ;
    
    border-radius: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px
}
